@import "config";
@import "menu";

//for the entire body of the page
* {
  box-sizing: border-box;
}

//Body of the page
body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

.head {
  position: absolute;
  color: $secondary-color;
  padding: 0.2rem 9rem;
}

// css for headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  // nesting the headings inside the general heading tag
  &.lg-heading {
    font-size: 6rem; //rem=16px implying 6rem=96px
    //color: #b6ecf3;
    color: set-text-color($primary-color);
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}
/*p {
  margin-bottom: 1rem;
  padding: 0.2rem 1rem;
  background: rgba(lighten($primary-color, 2), 0.5);
}
*/
// The links in a tag
a {
  color: #ffffff;
  text-decoration: none;
}

// keeping the header of the page fixed
header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

//changing the color of the lastname with class text-secondary
.text-secondary {
  color: $secondary-color;
}

// main tag
main {
  padding: 4rem;
  //height: 100%;
  min-height: calc(100vh - 60px);

  // nesting the link icons in the main tag for styling
  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      //to change the color when a mouse goes up to of the icon
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  //Home page in main tag
  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh; //viewport height
    }
  }
}

// About page
.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "profileimage profile profile" "info1 info2 info3";
  grid-template-columns: repeat(3, 1fr);

  .profile-image {
    grid-area: profileimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .profile {
    grid-area: profile;
    font-size: 1.5rem;
  }

  .info-1 {
    grid-area: info1;
  }

  .info-2 {
    grid-area: info2;
  }

  .info-3 {
    grid-area: info3;
  }

  .info {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
}

// Education page
.studies {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "course1 course2 course3";
  grid-template-columns: repeat(3, 1fr);

  .course-1 {
    grid-area: course1;
  }
  .course-2 {
    grid-area: course2;
  }
  .course-3 {
    grid-area: course3;
  }

  .course {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
    border-top: 2px #ffffff solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      color: #58f6fc;
      @include easeOut;
    }
  }
}

.other-studies {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "other1 other2 other3";
  grid-template-columns: repeat(3, 1fr);

  .other-1 {
    grid-area: other1;
  }

  .other-2 {
    grid-area: other2;
  }

  .other-3 {
    grid-area: other3;
  }

  .other {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
    border-top: 2px #ffffff solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      color: #58c0fc;
      @include easeOut;
    }
  }
}

// Work Experience page

.work-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "work1 work2 work3";
  grid-template-columns: repeat(3, 1fr);

  .work-1 {
    grid-area: work1;
  }

  .work-2 {
    grid-area: work2;
  }

  .work-3 {
    grid-area: work3;
  }

  .work {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
    border-top: 2px #ffffff solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      color: #66fc58;
      @include easeOut;
    }
  }
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

@import "mobile";
